@mixin flex($direction: row, $align: center, $justify: initial) {
  display: flex;
  align-items: $align;

  @if $direction !=row {
    flex-direction: $direction;
  }

  @if $justify !=initial {
    justify-content: $justify;
  }
}

@mixin font($style: normal, $weight: 400, $size: $text, $line: 150%, $family: $spacegrotesk) {
  font: $style $weight $line $family;
  font-size: $size;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}