nav {
  @include size(100%, 10vh);
  position: fixed;
  z-index: 2;

  ul {
    @include flex(row, center, center);
    height: 10vh;

    li {
      margin: 0 2rem;
      padding: 0.1rem 0.5rem;
      color: $white;

      &:hover {
        background: $blue;
      }
    }
  }
}