#home {
  height: 100vh;
  background: linear-gradient(110.27deg, rgba(47, 47, 47, 0.98) 0%, #000000 66.15%);
  position: relative;

  .intro {
    @include size(100%, 100%);
    @include flex($justify: space-evenly);
    gap: 2rem;
    padding: 0 10rem;
    position: absolute;
    bottom: 0;

    .intro-info {
      h1 {
        color: $white;
      }

      h3 {
        color: $blue;
      }

      .icons-wrapper {
        @include flex();
        gap: 1rem;
        margin-top: 3.5rem;
      }
    }

    .intro-image {
      @include size(35rem, 35rem);
      min-width: 35rem;
      border-radius: 100%;
      background: linear-gradient(180deg, $blue 0%, rgba(31, 31, 31, 0) 100%);
      filter: blur(20px);
    }
  }
}

#about {
  height: 100vh;
  position: relative;

  .about-info {
    @include size(100%, 100%);
    @include flex($justify: center);
    gap: 2rem;
    padding: 0 10rem;
    position: absolute;
    bottom: 0;

    p {
      color: $darkblue;
    }
  }
}

#work {
  height: 100vh;
  position: relative;

  .projects {
    @include size(100%, 100%);
    @include flex($justify: center);
    gap: 2rem;
    padding: 0 10rem;
    position: absolute;
    bottom: 0;

    .carousel-container {
      @include flex();
      @include size(80vw, 70vh);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;


      button {
        @include size(3rem, 3rem);
        position: absolute;
        background: $darkblue;
        color: $white;
        border-radius: 100%;
        border-style: none;
        cursor: pointer;

        &:hover {
          transition: 0.3s;
          opacity: 0.5;
        }

        &#next {
          right: -4rem;
        }

        &#prev {
          left: -4rem;
        }
      }

      .carousel-items {
        display: flex;
        overflow-x: hidden;
        position: relative;

        .item {
          min-width: 80vw;
          height: 70vh;
          transition: 0.5s;
          background: #fff;
          display: flex;

          img {
            @include size(100%, 100%);
            object-fit: cover;
          }

          .seemore {
            @include size(100%, 100%);
            @include flex($justify: center);
            background: rgba($black, 0.9);
            color: $white;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    .project-modal {
      @include size(100vw, 100vh);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      display: none;

      .modal-overlay {
        @include size(100%, 100%);
        background: rgba($black, 0.9);
      }

      .inner-container {
        background: $white;
        padding: 4rem;
        border-radius: 0.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
          color: $darkblue;
          margin: 2rem 0;
        }

        a {
          color: $blue;
        }
      }
    }
  }
}