#home {
  height: 100vh;
  position: relative;

  .intro {
    @include size(100%, 100%);
    @include flex($justify: start);
    position: relative;
    padding: 0 15rem;

    .intro-info {
      @include flex(column, flex-start, center);
      @include size(50%, 100%);
    }


    h3 {
      color: $lightblue;
      margin-top: 3.5rem;
    }

    p {
      color: $white;
      margin-top: 1rem;
    }

    .intro-image {
      @include size(50%, 100%);
    }

    .icons-wrapper {
      @include flex(column);
      gap: 1rem;
      position: absolute;
      bottom: 15rem;
      right: 15rem;
    }
  }
}

#work {
  height: 100vh;
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  .projects {
    @include size(100%, 100%);
    @include flex($justify: center);
    gap: 2rem;
    padding: 0 10rem;
    position: absolute;
    bottom: 0;

    .carousel-container {
      @include flex();
      @include size(80vw, 70vh);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;


      button {
        @include size(3rem, 3rem);
        position: absolute;
        background: $darkblue;
        color: $white;
        border-radius: 100%;
        border-style: none;
        cursor: pointer;

        &:hover {
          transition: 0.3s;
          opacity: 0.5;
        }

        &#next {
          right: -4rem;
        }

        &#prev {
          left: -4rem;
        }
      }

      .carousel-items {
        display: flex;
        overflow-x: hidden;
        position: relative;

        .item {
          min-width: 80vw;
          height: 70vh;
          transition: 0.5s;
          background: #fff;
          display: flex;

          img {
            @include size(100%, 100%);
            object-fit: cover;
          }

          .seemore {
            @include size(100%, 100%);
            @include flex($justify: center);
            background: rgba($black, 0.9);
            color: $white;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    .project-modal {
      @include size(100vw, 100vh);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      display: none;

      .modal-overlay {
        @include size(100%, 100%);
        background: rgba($black, 0.9);
      }

      .inner-container {
        background: $white;
        padding: 4rem;
        border-radius: 0.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
          color: $darkblue;
          margin: 2rem 0;
        }

        a {
          color: $blue;
        }
      }
    }
  }
}