@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Space+Grotesk:wght@300;400;500;700&display=swap');
@import url('../assets/fonts/Panchang-Extrabold.ttf');
@import url('../assets/fonts/Satoshi-Regular.ttf');
@import url('../assets/fonts/Satoshi-Light.ttf');

$blue: #106373;
$lightblue: #18AFCC;
$darkblue: #2E383D;
$white: #EBEBEB;
$black: #101010;

$subtitle: 3.2rem;
$text: 1.6rem;
$textsmall: 1.4rem;

$panchang: 'Panchang-Extrabold';
$satoshi: 'Satoshi-Regular';
$satoshiLight: 'Satoshi-Light';