@import './_variables';
@import './_mixins';
@import './_nav';
@import './_style';

html,
body {
  @include font();
  background-image: url('../assets/back.svg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 10px;
  scroll-behavior: smooth;
  background-color: $white;

  h1 {
    font-family: $panchang;
  }

  h3 {
    @include font($size: $subtitle);
    font-family: $satoshiLight;
  }

  p,
  a,
  li,
  span,
  button {
    font-size: $text;
  }

  a,
  button {
    text-decoration: none;
    font-weight: 400;
    border: none;
    cursor: pointer;
  }

  a {

    &:focus,
    &:active,
    &:visited,
    &:link,
    &:hover {
      text-decoration: none;
      color: inherit;
      outline: none;
    }
  }

  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    display: block;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}