@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Space+Grotesk:wght@300;400;500;700&display=swap");
nav {
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 2;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
}

nav ul li {
  margin: 0 2rem;
  padding: 0.1rem 0.5rem;
  color: #EBEBEB;
}

nav ul li:hover {
  background: #106373;
}

#home {
  height: 100vh;
  background: linear-gradient(110.27deg, rgba(47, 47, 47, 0.98) 0%, #000000 66.15%);
  position: relative;
}

#home .intro {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 2rem;
  padding: 0 10rem;
  position: absolute;
  bottom: 0;
}

#home .intro .intro-info h1 {
  color: #EBEBEB;
}

#home .intro .intro-info h3 {
  color: #106373;
}

#home .intro .intro-info .icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 3.5rem;
}

#home .intro .intro-image {
  width: 35rem;
  height: 35rem;
  min-width: 35rem;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#106373), to(rgba(31, 31, 31, 0)));
  background: linear-gradient(180deg, #106373 0%, rgba(31, 31, 31, 0) 100%);
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

#about {
  height: 100vh;
  position: relative;
}

#about .about-info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding: 0 10rem;
  position: absolute;
  bottom: 0;
}

#about .about-info p {
  color: #2E383D;
}

#work {
  height: 100vh;
  position: relative;
}

#work .projects {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding: 0 10rem;
  position: absolute;
  bottom: 0;
}

#work .projects .carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#work .projects .carousel-container button {
  width: 3rem;
  height: 3rem;
  position: absolute;
  background: #2E383D;
  color: #EBEBEB;
  border-radius: 100%;
  border-style: none;
  cursor: pointer;
}

#work .projects .carousel-container button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}

#work .projects .carousel-container button#next {
  right: -4rem;
}

#work .projects .carousel-container button#prev {
  left: -4rem;
}

#work .projects .carousel-container .carousel-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  position: relative;
}

#work .projects .carousel-container .carousel-items .item {
  min-width: 80vw;
  height: 70vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#work .projects .carousel-container .carousel-items .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#work .projects .carousel-container .carousel-items .item .seemore {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(16, 16, 16, 0.9);
  color: #EBEBEB;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

#work .projects .carousel-container .carousel-items .item .seemore:hover {
  opacity: 1;
}

#work .projects .project-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

#work .projects .project-modal .modal-overlay {
  width: 100%;
  height: 100%;
  background: rgba(16, 16, 16, 0.9);
}

#work .projects .project-modal .inner-container {
  background: #EBEBEB;
  padding: 4rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#work .projects .project-modal .inner-container p {
  color: #2E383D;
  margin: 2rem 0;
}

#work .projects .project-modal .inner-container a {
  color: #106373;
}

html,
body {
  font: normal 400 150% "Space Grotesk", sans-serif;
  font-size: 1.6rem;
  font-size: 10px;
  scroll-behavior: smooth;
  background-color: #EBEBEB;
}

html h1,
body h1 {
  font-size: 4.8rem;
}

html h3,
body h3 {
  font: normal 300 150% "Space Grotesk", sans-serif;
  font-size: 3.2rem;
}

html p,
html a,
html li,
html span,
html button,
body p,
body a,
body li,
body span,
body button {
  font-size: 1.6rem;
}

html a,
html button,
body a,
body button {
  text-decoration: none;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

html a:focus, html a:active, html a:visited, html a:link, html a:hover,
body a:focus,
body a:active,
body a:visited,
body a:link,
body a:hover {
  text-decoration: none;
  color: inherit;
  outline: none;
}

html ul,
body ul {
  list-style: none;
}

html img,
body img {
  max-width: 100%;
  display: block;
}

html *,
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=global.css.map */