@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Space+Grotesk:wght@300;400;500;700&display=swap");
@import url("../assets/fonts/Panchang-Extrabold.ttf");
@import url("../assets/fonts/Satoshi-Regular.ttf");
@import url("../assets/fonts/Satoshi-Light.ttf");
.content-container .outer-wrapper {
  width: 100vh;
  height: 100vw;
  -webkit-transform: rotate(-90deg) translateX(-100vh);
          transform: rotate(-90deg) translateX(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  overflow-y: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: absolute;
  -ms-overflow-style: none;
}

.content-container .outer-wrapper .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 200vw;
  -webkit-transform: rotate(90deg) translateY(-100vh);
          transform: rotate(90deg) translateY(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  position: relative;
  background: linear-gradient(-110.27deg, #1E1E1E 0%, #000000 66.15%);
}

.content-container .outer-wrapper .wrapper canvas[resize] {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0.15;
}

.content-container .outer-wrapper .wrapper .slide {
  width: 100vw;
  height: 100vh;
}

.content-container .outer-wrapper .wrapper .slide.intro {
  height: 100vh;
  position: relative;
}

.content-container .outer-wrapper .wrapper .slide.intro .intro-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  padding: 0 15rem;
}

.content-container .outer-wrapper .wrapper .slide.intro .intro-container .intro-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
}

.content-container .outer-wrapper .wrapper .slide.intro .intro-container h3 {
  color: #18AFCC;
  margin-top: 3.5rem;
}

.content-container .outer-wrapper .wrapper .slide.intro .intro-container p {
  color: #EBEBEB;
  margin-top: 1rem;
}

.content-container .outer-wrapper .wrapper .slide.intro .intro-container button {
  background: #EBEBEB;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  font-size: 2rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.content-container .outer-wrapper .wrapper .slide.intro .intro-container button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#00242B), to(#106373));
  background: linear-gradient(90deg, #00242B 0%, #106373 100%);
}

.content-container .outer-wrapper .wrapper .slide.intro .intro-container .intro-image {
  width: 50%;
  height: 100%;
}

.content-container .outer-wrapper .wrapper .slide.intro .intro-container .icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  position: absolute;
  bottom: 15rem;
  right: 15rem;
}

.content-container .outer-wrapper .wrapper .slide.work {
  height: 100vh;
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container .outer-wrapper .wrapper .slide.work .work-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding: 0 10rem;
  position: absolute;
  bottom: 0;
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .carousel-container .arrow {
  width: 3rem;
  height: 3rem;
  position: absolute;
  background: #2E383D;
  color: #EBEBEB;
  border-radius: 100%;
  border-style: none;
  cursor: pointer;
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .carousel-container .arrow:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .carousel-container .arrow#next {
  right: -4rem;
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .carousel-container .arrow#prev {
  left: -4rem;
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .carousel-container .carousel-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  position: relative;
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .carousel-container .carousel-items .item {
  min-width: 80vw;
  height: 70vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .carousel-container .carousel-items .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .carousel-container .carousel-items .item .seemore {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(16, 16, 16, 0.9);
  color: #EBEBEB;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .carousel-container .carousel-items .item .seemore:hover {
  opacity: 1;
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .project-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .project-modal .modal-overlay {
  width: 100%;
  height: 100%;
  background: rgba(16, 16, 16, 0.9);
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .project-modal .inner-container {
  background: #EBEBEB;
  padding: 4rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .project-modal .inner-container p {
  color: #2E383D;
  margin: 2rem 0;
}

.content-container .outer-wrapper .wrapper .slide.work .work-container .project-modal .inner-container a {
  color: #106373;
}

html,
body {
  font: normal 400 150% "Satoshi-Regular";
  font-size: 1.6rem;
  font-size: 10px;
  background-color: #101010;
  overflow: overlay;
}

html h1,
body h1 {
  font-family: "Panchang-Extrabold";
}

html h3,
body h3 {
  font: normal 400 150% "Satoshi-Regular";
  font-size: 3.2rem;
  font-family: "Satoshi-Light";
}

html p,
html a,
html li,
html span,
html button,
body p,
body a,
body li,
body span,
body button {
  font-size: 1.6rem;
}

html a,
html button,
body a,
body button {
  text-decoration: none;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

html a:focus, html a:active, html a:visited, html a:link, html a:hover,
body a:focus,
body a:active,
body a:visited,
body a:link,
body a:hover {
  text-decoration: none;
  color: inherit;
  outline: none;
}

html ul,
body ul {
  list-style: none;
}

html img,
body img {
  max-width: 100%;
  display: block;
}

html *,
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=global.css.map */